*{
    margin: 0;
    padding: 0;
    font-family: 'Baloo Thambi 2', cursive;
}
html{
    font-size: 10px;
}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 2.0rem 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display:inline-block;
    list-style: none;
    margin: 1.0rem 2.0rem;
}
nav ul li a{
    text-decoration: none;
    color:#000;
    font-weight: bold;
}
nav ul li a:hover{
    color: red;
}
.delet{
    margin-left: 8%;
   margin-right: 13%;
   margin-top: 12.0rem;
}
.delet h1{
    font-size: 5.0rem;
    color:#212121;
    margin-bottom: 2.0rem;  
}
span{
    color:orange;
}
.delet p{
    color:#555;
    line-height: 2.2rem;
}
.delet a{
    background: #212121;
    padding: 1.0rem 1.8rem;
    text-decoration: none;
    font-weight: bold;
    color:#fff;
    display: inline-block;
    margin: 3.0rem 0;
    border-radius: .5rem;
}
.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 10.0rem;

}
.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    transition: bottom 1s, left 1s;
}
.images:hover .shape{
    bottom: 4.0rem;
}
.images:hover .boy{
    left:45%;
}
.con{
    display: flex;
    width: 92%;
    margin: auto;
    padding: 1.8rem 0;
    align-items: center;
    justify-content: space-between;
}
.con li{
    display:inline-block;
    list-style: none;
    margin: 1.0rem 2.0rem;  
}
.con li a{
    text-decoration: none;
    color:#000;
    font-weight: bold; 
}
.con li a:hover{
    color: red;
}
.con li img{
    width:6.5rem;
    height:7.0rem;
}
@media (max-width:998px) {
    html{
        font-size: 65%;
    }
   
}
@media (max-width:768px){
    html{
        font-size: 25%;
    }
}